/ExemploMath/nbproject/private/
/ExemploMath/build/
/atividades classe/ExEstoque/build/
/ExPoupanca/nbproject/private/
/ExPoupanca/build/
/TIKTIK/nbproject/private/
/TIKTIK/build/
/ExHeranca/nbproject/private/
/ExHeranca/build/